body {
    font-family: system-ui;
    background: black;
    color: red;
    text-align: center;
  }
  
  img {
  width: 100%;
  height: auto;
  max-width: 625px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

  #tribute-link {
    position: relative;
    bottom: 20px;
    color: white;
    border: 1px dashed white;
  }

  #main {
    position: relative;
  }
  
  .title {
   font-size: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    position: sticky;
  }

  @media (orientation: landscape) and (max-width: 2000px) {
    .title {
      color: white;
    }
  }
  
  .listTitle {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .list {
    list-style: none
  }
  
  .blockquote {
    padding: 0px 50px 50px 50px;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

  .nav {
    justify-content: center;
    align-items: center;
  }